<div class="card-list-container py-3 mb-5">
  <div class="w-100 text-right mx-auto shadow-lg">

    <div class="container">
      <div class="row">
        <div class="col-3 table-secondary text-center py-3">会員ID</div>
        <div class="col-3 table-secondary text-center py-3">登録日</div>
        <div class="col-3 table-secondary text-center py-3">ユーザ名</div>
        <div class="col-3 table-secondary text-center py-3">メールアドレス</div>
        <% @customers.each do |customer| %>
          <div class="col-3 text-center py-3"><%= customer.id %></div>
          <div class="col-3 text-center py-3"><%= customer.created_at.strftime('%Y/%m/%d') %></div>
          <div class="col-3 text-center py-3"><%= link_to admin_customer_path(customer.id) do %><%= customer.name %><% end %></div>
          <div class="col-3 text-center py-3"><%= customer.email %></div>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @customers %>
</div>
